@import '../../shared/styles/index.scss';

.signUpForHotTrips {
    background-color: $secondary_green;
    @include flexSpaceBetween;
    color: $primary_lightgrey;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
    padding: 30px 20px;
    border-radius: $borderRadiusML;

    &_text {
        width: 430px;
        margin-left: 20px;
        @include flexSpaceBetween;
    }

    &_mail {
        width: 50px;
    }

    &_button {
        margin-right: 20px
    }

    &_arrow {
        @include flexAbsoluteCenter;
        margin-left: 10px;
    }
}