@import '../../shared/styles/index.scss';

.userNavbar {
    width: 100%;
    padding: 8px;
    @include flexSpaceBetween;
}

.logo {
    @include flexSpaceBetween;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
    cursor: pointer;
    width: 160px;
    
    img {
        width: 50px;
    }
}

.navLinksContainer {
    @include flexAbsoluteCenter;

    .lottery {
        margin-right: 20px;
        cursor: pointer;
    }
            
    .navLinks {
        @include flexAbsoluteCenter;
            
            li {
                margin-right: 25px;
            }
    }
}

// Dropdown
.dropdown {
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.dropdown > span {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 72px;
}

.dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    position: absolute;
    box-shadow: 0 0 10px $secondary-lightgrey;
    top: 60px;
    right: -20px;
    width: 180px;
    border-radius: 10px;
    border: 2px solid $primary-purple;
    background-color: $primary-lightgrey;
    padding: 8px 0;
    display: grid;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
};

.menu::before {
    content: '';
    position: absolute;
    background-color: inherit;
    border-top: 2px solid $primary-purple;
    border-right: 2px solid $primary-purple;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}

.menu > a {
    padding: 12px 20px;
}

.menu > a:hover {
    background-color: $secondary-lightgrey;
}