// Background
$bg_primary: #fefefe;

// Primary Color (light)
$primary_blue: #19B5FE;
$primary_green: #26C281;
$primary_purple: #4926c7;
$primary_lightgrey: #f5f5f5;
$primary_darkgrey: #999999;
$primary_yellow: #fff427;
$primary_orange: #FF8C00;
$primary_gold: #fcdd2b;

// Secondary Color (darker); *also used as hover
$secondary_blue: #22A7F0;
$secondary_green: #03A678;
$secondary_purple: #3918af;
$secondary_lightgrey: #e1e1e1;
$secondary_darkgrey: #3a3a3a;
$secondary_yellow: #f5ea1e;
$secondary_orange: #e77f00;