// Column (Vertical)
@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnSpaceBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// (Horizontal)
@mixin flexAbsoluteCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpaceAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flexCenterEnd {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@mixin flexCenterStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

// Absolute Center 
@mixin absoluteVerticalAndHorizontalCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}