@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&family=Changa+One&family=Familjen+Grotesk:wght@400;600;700&family=Hanken+Grotesk:ital,wght@1,800&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200&family=Mulish:wght@300;400;600&family=Nanum+Myeongjo&family=Noto+Sans+NKo+Unjoined&family=Playfair+Display&family=Poppins:wght@300;400;600&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Kanit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ul li {
    list-style: none;
}