@import '../../shared//styles//index.scss';

.siteWrapper{
    width: 100%;
    max-width: 1700px;
    min-height: 100vh;
    margin: 0 auto;
    @include flexColumnCenter
}

.outlet{
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}